body {
  margin: 0;
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

.dndflow aside {
  padding: 15px 10px;
  font-size: 20px;
  background: #00284f;
}

.dndflow aside .description {
  margin-bottom: 10px;
  background: #00284f;
  color: white;
  padding: 10%;
  border-radius: 5%;
}

.dndflow .dndnode {
  border: 5px solid black;
  border-radius: 20%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  font-size: large;
  padding: 5%;
  color: black;
  background: white;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
