.conMod {
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  background-image: radial-gradient(white 35%, rgba(93, 247, 51, 0.82));
  border-radius: 8%;
  border-color: black;
  border-style: solid;
  border-width: 4px;
}

.conMod:hover #sequenceLayer {
  opacity: 1;
  top: -23%;
  right: -17%;
  font-size: 200%;
}

#sequenceLayer {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.5;
  padding: 4%;
  transition: all 750ms cubic-bezier(0.02, 0.96, 0.11, 0.97);
  border-radius: 50%;
  border-color: #36454f;
  border-style: solid;
  border-width: 4px;
  background-color: #ff2800;
}

#sequanceLayerBubble {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  background-color: #ff2800;
  padding: 5px;
  font-size: 100%;
}

.dropdown-content {
  background: #fff;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.dropdown-content .ant-dropdown-menu {
  box-shadow: none;
}

.dynamicTextColor {
  color: white;
  mix-blend-mode: difference;
}
